.sticky-nav {
    position: sticky;
    top: 0px;
    z-index: 100;
}

/* Change background on mouse-over */
.hover a:hover {
    background: rgb(8, 70, 0);
    color: rgb(255, 255, 255);
  }

/* Links inside the navbar */
.text a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

/* Add a color to the active/current link */
.topnav a:active {
    background-color: #4a0053;
    color: rgb(255, 255, 255);
  }