.App {
  height: '10vh';
  background-image: url("../images/2022-07-28 1.jpg");
  /* not sure what font should be */
  font-family: "arial"


}

#fcbutton {

  background-color: white;
  color: black;
  border: 2px solid #555555;
}

#fcbutton:hover {
  background-color: #555555;
  color: white;
}