#home_container {
  background-image: url(../images/Homepage.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 110vh;
  overflow-x: hidden;
}



body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;

}

.App-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  object-position: center;
  margin-top: 20px;
  justify-self: center;
  align-self: center;
  
}

.App {
  height: '10vh';
  font-family: "arial";
  font-size: 12 px;
  text-align: center;
}

#fcbutton {

  background-color: white;
  color: black;
  border: 2px solid #555555;
}

#fcbutton:hover {
  background-color: #555555;
  color: white;
}

.weatherWidget {
  width:100%;
  display:block;
  margin-top: 170px;
  margin-left: auto;
  margin-right: auto;


}