.socials {
   
    display: flex;
    flex-flow: nowrap;
    justify-content: space-evenly;
    gap: 300px;
    font-size: 35px;
    position:fixed;
    left: 220px;
    bottom:20px;
    
}

.footer-icon{
    
    color: #3C4A3F;
    justify-items: center;
    
    

}

