.socials {
   
    display: flex;
    flex-flow: nowrap;
    justify-content: center;
    gap: 300px;
    font-size: 35px;
   
    margin-bottom:40px;
    flex-direction: row;
    justify-self: center;
    
    
}

.footer-icon{
    
    color: #3C4A3F;
    justify-items: center;
    justify-self: center; 
    
    

}

