.socials {
   
    display: flex;
    flex-flow: nowrap;
    justify-content: space-evenly;
    gap: 300px;
    font-size: 30px;
    position:fixed;
    left: 220px;
    bottom:20px;
}

.footer-icon{
    
    color: #268BAF;
    justify-items: center;
    
    

}